@{
    Page.Title = "Students";
    Layout = "~/_layout.cshtml";
    var db = WebMatrix.Data.Database.Open("Student_DB");
    var stus = db.Query("SELECT * FROM Students");  
    var Count = 0;
}
<!-- Table Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light text-center rounded h-100 p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class="mb-0">Student Table</h5>
                    <a href="~/Students/createStu.cshtml" class="btn btn-primary ms-2">Add   <i class="bi bi-person-plus"></i></a>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">StudentID</th>
                                <th scope="col">StudentName</th>
                                <th scope="col">Gender</th>
                                <th scope="col">DateOfBirth</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var stu in stus)
                            {
                                Count++;
                                <tr>
                                    <th scope="row">@Count</th>
                                    <td>@stu.StudentID</td>
                                    <td>@stu.StudentName</td>
                                    <td>@stu.Gender</td>
                                    <td>@stu.DateOfBirth</td>
                                    <td>
                                        <a href="~/Students/edit.cshtml?id=@stu.StudentID" class="btn btn-sm btn-primary"><i
                                            class="bi bi-pencil-square"></i></a>
                                        <a href="~/delete.cshtml?" class="btn btn-sm btn-primary"><i class="fa fa-trash"
                                            aria-hidden="true"></i></a>
                                        <a href="~/view.cshtml?" class="btn btn-sm btn-primary"><i class="fa fa-eye"
                                            aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Table End -->
